/* ListFooter.css */
.list-footer {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #ddd;
  height: 47px;
  justify-content: flex-end;
  gap: 8px;
}

.list-footer__items-count {
  background: none;
  border: none;
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-footer__items-count svg {
  margin-left: 5px;
}

.list-footer__items-per-page {
  padding: 5px;
  font-size: 12px;
  margin-left: 10px;
  background: transparent;
  border: none;
}

.list-footer__pagination {
  display: flex;
  gap: 10px;
}

.list-footer__pagination-btn {
  background: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-footer__pagination-btn:disabled {
  cursor: not-allowed;
}

.list-footer__pagination-btn:hover:not(:disabled) {
  background-color: #e0e0e0;
}
